<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <div class="container">
      <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
        <form th:object="${meeting}">
          <h3>Your Booking Information</h3>
            <p>Employee Name： [[*{employeeName}]]</p>
            <p>Summary： [[*{summary}]]</p>
            <p>Attendance: [[*{attendance}]]</p>
            <p>MeetingRoomNo： [[*{roomNo}]]</p>
            <p>Date: [[*{date}]]</p>
            <p>StartTime: [[*{startTime}]]</p>
            <p>EndTime: [[*{endTime}]]</p>
          <a th:href="@{/meeting}"><i class="fas fa-backward"></i>Back</a> |
          <a th:href="@{/meeting/{id}/update/(id=${meeting.id})}"><i class="fas fa-user-edit"></i>Update</a>
        </form>
      </div>  
    </div>  
</html>